// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import 'estilo';




// Bootstrap
@import '~bootstrap/scss/bootstrap';


// font awesonme

$fa-font-path: "../webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
//@import '~@fortawesome/fontawesome-free/scss/brands.scss';
//@import '~@fortawesome/fontawesome-free/scss/regular.scss';

html,body{

    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    }
    
    .container{
    height: 100%;
    align-content: center;
    }
   
    
    
 
    .login_btn{
    color: black;
    background-color: grey;
    width: 100px;
    }
    
  
    
    .links{
    color: white;
    }

  

    
    
   
    
 
